section {
  position: fixed;
  bottom: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
section ul.menu {
  display: flex;
  align-items: stretch;
  justify-content: stretch;
  margin: 0;
  padding: 0;
}
@media screen and (max-width: 640px) {
  section ul.menu {
    flex-grow: 1;
  }
}
section ul.menu li {
  display: flex;
  align-items: stretch;
  justify-content: stretch;
  flex-grow: 1;
}
section ul.menu li button {
  width: 100%;
}
section ul.menu li#new-topic-li, section ul.menu li#new-opinion-li {
  display: none;
}

.dialoglist-empty {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: space;
  padding: 32px;
}
.dialoglist-empty h1 {
  text-align: center;
  margin-top: 32px;
}
.dialoglist-empty img {
  max-height: 100%;
  max-width: 100%;
}

.button {
  transition: opacity 0.2s cubic-bezier(0.4, 0, 0.6, 1);
  -webkit-transition: opacity 0.2s cubic-bezier(0.4, 0, 0.6, 1);
}
.button:hover {
  opacity: 0.9;
}
.button.block {
  width: 100%;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.crisis {
  font-family: DPTFontDin;
  border: none;
  font-size: 16px;
  padding: 0 16px;
  height: 30px;
  -webkit-appearance: none;
  z-index: 40;
  position: absolute;
  right: 0px;
  bottom: 66px;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin: 12px -12px;
}
.row.center {
  justify-content: center;
  margin: 0;
}

.col {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding: 0 12px;
}
.col.col-1 {
  flex: 0 0 8.333333%;
}

.text-center {
  text-align: center;
}

.justify-center {
  justify-content: center;
}

.hint {
  color: cyan;
  font-size: 2.75em;
}

.img-hint {
  height: 2.75em;
  filter: invert(16%) sepia(84%) saturate(1128%) hue-rotate(104deg) brightness(101%) contrast(104%);
  margin-bottom: 0.5em;
}

.img-hint-invert {
  height: 2.75em;
  filter: invert(84%) sepia(84%) saturate(1128%) hue-rotate(104deg) brightness(101%) contrast(104%);
}

.nav-help {
  z-index: 1;
  position: absolute;
  background: #0003;
  color: white;
  font-family: "Markazi", serif;
  font-size: 12px;
  overflow: hidden;
  bottom: 5%;
  right: 0;
  margin: 2%;
  border: solid black 2px;
  display: flex;
  justify-content: center;
  width: 27em;
}

.nav-help-row {
  display: flex;
  flex-shrink: 0;
  min-height: 4em;
  justify-content: center;
  align-content: baseline;
}

.nav-help-col {
  display: flex;
  min-width: 9em;
  flex-direction: column;
  justify-content: space-around;
}

.slider {
  border-radius: 1px;
  cursor: pointer;
  appearance: none;
  -webkit-appearance: none;
  margin: 0;
  height: 10px;
  border-radius: 1px;
}
.slider:focus {
  outline: none;
}
.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  cursor: pointer;
}
.slider::-moz-range-thumb {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  cursor: pointer;
}

/*# sourceMappingURL=dpt3d.css.map */
