/* Easy theming */
@font-face {
  font-family: "DPTFont";
  src: url("/font.ttf") format("truetype");
}
@font-face {
  font-family: "DPTFontDin";
  src: url("/din.ttf") format("truetype");
}
@font-face {
  font-family: "DPTSymbols";
  src: url("/din.ttf") format("truetype");
}
.no-bounce {
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}

.no-bounce > div {
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}

.no-bounce > div > div {
  width: 100%;
  min-height: 101%;
}

html,
body {
  font-family: "DPTFont";
  width: 100%;
  height: 100%;
  margin: 0px;
  overflow: hidden;
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
}

#renderCanvas {
  width: 100%;
  height: 100%;
  touch-action: none;
  position: absolute;
  z-index: 1;
}

#main {
  height: 100%;
  width: 100%;
}

/*----- Logo -----*/
.brand,
.brand img {
  float: left;
  font-family: "DPTFontDin";
  font-style: inherit;
  color: #ffffff;
  font-weight: 700;
  font-size: 20px;
  position: absolute;
  left: 5px;
  top: 3px;
  z-index: 200;
}

/*----------------*/
i {
  font-family: "DPTFontDin";
  font-style: inherit;
  color: #ddd;
  font-weight: 700;
  font-size: 18px;
}

h1 {
  font-family: "DPTFontDin";
  color: #fff;
  font-size: 28px;
  font-weight: 500;
  margin-top: 0px;
}

h2 {
  font-family: "DPTFont";
  color: #fff;
  font-size: 16px;
  font-weight: 300;
  padding-bottom: 15px;
  border-bottom: #fff;
  border-bottom-style: solid;
  border-bottom-width: 1px;
}

h3 {
  font-family: "DPTFontDin";
  font-size: 32px;
  color: #bbb;
  border-color: transparent;
  border-bottom: 1px solid #bbb;
  padding-bottom: 20px;
}

h4 {
  font-family: "DPTFontDin";
  font-size: 18px;
  color: #fff;
  font-weight: 300;
  padding: 5px;
}

h5 {
  font-family: "DPTFontDin";
  font-size: 18px;
  color: #fff;
  font-weight: 500;
  padding: 0px;
  margin: 0px;
}

hr {
  color: #ddd;
  border-style: dashed;
  border-width: 1px;
}

div#dialogList > i {
  color: transparent;
}

i#props {
  line-height: 0px;
}

a {
  text-decoration: none;
  color: #bbb;
}

input {
  border-color: #000;
  color: #bbb;
  border-style: solid;
  border-width: 1px;
  font-weight: normal;
  font-family: DPTFont;
  font-size: 18px;
}

#negative {
  color: #ff6666;
}

#neutral {
  color: #005b98;
}

#positive {
  color: #15b76a;
}

input[type=text] {
  border-color: #000;
  color: #bbb;
  border-style: solid;
  border-width: 1px;
  font-weight: normal;
  padding: 4px;
  width: 100%;
}

.table {
  min-height: 100%;
  height: 100%;
  min-width: 100%;
  background: #000000;
}

#misc {
  position: absolute;
  z-index: 1;
  margin: 0 auto;
}

#misc2 {
  position: absolute;
  z-index: 220;
  margin: 0 auto;
  width: 400px;
  left: 50%;
  margin-left: -200px;
  bottom: 0px;
}

p.left {
  margin: 5px;
  margin-bottom: 15px;
  padding: 5px;
  text-justify: inter-word;
  background-color: #333;
  border-color: #333;
  border-style: solid;
  border-width: 1px;
  position: relative;
  color: #fff;
  font-size: 18px;
  margin-left: 20px;
}

p.left:before {
  content: " ";
  position: absolute;
  width: 0px;
  height: 0px;
  left: 10px;
  bottom: -10px;
  border: 5px solid;
  border-color: #333 transparent transparent #333;
}

p.right {
  margin: 5px;
  margin-bottom: 15px;
  padding: 5px;
  text-align: justify-right;
  text-justify: inter-word;
  background-color: #333;
  border-color: #333;
  border-style: solid;
  border-width: 1px;
  position: relative;
  color: #fff;
  font-size: 18px;
  margin-left: 20px;
}

p.right:before {
  content: " ";
  position: absolute;
  width: 0px;
  height: 0px;
  right: 10px;
  bottom: -10px;
  border: 5px solid;
  border-left: 5px solid transparent;
  border-right: 5px solid #333;
  border-top: 5px solid #333;
  border-bottom: 5px solid transparent;
}

div.top {
  height: 100%;
  position: relative;
  top: 0px;
}

div.middle {
  z-index: 10;
  position: relative;
  width: 100%;
}

div.bottom {
  height: 100%;
  position: center;
  bottom: 0px;
}

div.dialogInfo {
  visibility: hidden;
  line-height: 0px;
  font-size: 0px;
}

div.row:after {
  content: "";
  display: table;
  clear: both;
}

div.hide {
  visibility: hidden;
  line-height: 0%;
}

div.status {
  bottom: 49px;
  width: 580px;
  position: fixed;
  left: 50%;
  margin-left: -290px;
  z-index: 30;
  background-color: #000000;
  height: 80px;
}

div#c1 {
  font-family: "DPTFont";
  text-justify: inter-word;
  width: 100%;
  float: left;
  position: absolute;
  font-size: 14px;
  background-color: #252525;
  padding: 5px;
  bottom: 0px;
}

div#c2 {
  font-family: "DPTFont";
  position: relative;
  bottom: 0px;
  float: left;
  width: 100%;
  padding-right: 16px;
  padding-bottom: 180px;
}

div#c3 {
  font-family: "DPTFontDin";
  float: left;
  position: fixed;
  text-align: left;
  font-size: 14px;
  background-color: #252525;
  padding: 5px 15px;
  width: 600px;
  height: 30px;
  left: 50%;
  margin-left: -300px;
  bottom: 115px;
}

div#crisis {
  font-family: "DPTFont";
  position: absolute;
  padding: 10px;
  color: #fff;
  box-shadow: 0px 0px 20px #00000099;
  bottom: 49px;
  height: 500px;
  background-color: #000000;
}

div#dialogFrame {
  font-family: "DPTFont";
  border-width: 0px;
  color: #fff;
  margin-left: 0%;
  margin-right: 0%;
  min-width: 80%;
  bottom: 40px;
  left: 0px;
}

#overlay {
  /* margin:5%; */
  position: absolute;
  display: grid;
  background-color: transparent;
  border: 0px;
  z-index: 10;
  /* grid-auto-flow: column; */
  grid-template-columns: 280px;
  right: 0px;
}

#menubar {
  /* margin:5%; */
  position: fixed;
  bottom: 0px;
  float: left;
  width: 100%;
  background-color: transparent;
  border: 0px;
  z-index: 100;
  /* grid-auto-flow: column; */
  grid-template-columns: 210px;
  /* pointer-events: none; */
}

#dialogForm {
  position: absolute;
  top: 40px;
  left: 50%;
  padding: 10px;
  margin-left: -300px;
  color: #fff;
  width: 600px;
  z-index: 200;
  font-family: DPTFont;
  font-size: 18px;
  background-color: #000000;
  overflow-y: auto;
  box-shadow: 0px 0px 20px #00000099;
  bottom: 49px;
}

.myDialogs {
  position: relative;
  top: 30px;
}

.menu-btn {
  padding: 10px;
  padding-left: 20px;
  margin: 0px;
  display: none;
  font-family: "DPTFontDin";
  text-transform: uppercase;
  font-size: 20px;
  width: 280px;
  height: 48px;
  border: 1px solid #fff;
  background-color: #000000DD;
  color: #fff;
  -webkit-box-pack: left;
  -ms-flex-pack: left;
  justify-content: left;
  text-align: left;
  background-size: cover;
}

.menu-btn-bar {
  padding: 10px;
  padding-left: 20px;
  margin: 0px;
  float: left;
  font-family: "DPTFontDin";
  text-transform: uppercase;
  font-size: 20px;
  height: 48px;
  border: 1px solid #fff;
  background-color: #000000DD;
  color: #fff;
  -webkit-box-pack: left;
  -ms-flex-pack: left;
  background-size: cover;
}

.menu-entry {
  padding: 10px;
  padding-left: 20px;
  margin: 0px;
  font-family: "DPTFontDin";
  font-size: 20px;
  width: 280px;
  height: 48px;
  border: 1px solid #fff;
  background-color: #000000DD;
  color: #fff;
  -webkit-box-pack: left;
  -ms-flex-pack: left;
  justify-content: left;
  text-align: left;
  background-size: cover;
}

.btn-icon {
  height: 35px;
  position: relative;
  margin-left: -10px;
  float: left;
  margin-right: 20px;
}

.btn-bar-icon {
  height: 48px;
  position: relative;
  margin-left: -10px;
  bottom: 5px;
}

* {
  box-sizing: border-box;
}

.dialogleft {
  padding: 5px;
  float: left;
  width: 45%;
  font-size: 14px;
  /* The width is 45%, by default */
}

.dialogcenter {
  padding: 20px;
  float: left;
  width: 10%;
  font-size: 36px;
  text-align: center;
  /* The width is 10%, by default */
}

.dialogright {
  padding: 5px;
  float: left;
  width: 45%;
  font-size: 14px;
  /* The width is 45%, by default */
}

#dialogList {
  position: absolute;
  padding: 10px;
  top: 40px;
  border: #fff;
  border-style: solid;
  border-width: 1px;
  width: 400px;
  overflow-y: auto;
  z-index: 2;
  font-family: DPTFontDin;
  font-size: 16px;
  background-color: #000000DD;
  visibility: hidden;
  bottom: 0px;
  left: 0%;
  box-shadow: 0px 0px 20px #00000099;
}

#form {
  position: absolute;
  bottom: 48px;
  width: 400px;
  left: 50%;
  padding: 10px;
  margin-left: -200px;
  border: #fff;
  border-style: solid;
  border-width: 1px;
  color: #fff;
  z-index: 300;
  font-family: DPTFontDin;
  font-size: 18px;
  background-color: #000000;
  box-shadow: 0px 0px 20px #00000099;
  max-height: 80%;
  overflow-y: auto;
  padding-top: 40px;
}

textarea {
  font-family: DPTFont;
  font-size: 18px;
  width: 100%;
  height: 80px;
  margin: 0 auto;
  resize: none;
  border-color: #000;
  color: #bbb;
  border-style: solid;
  border-width: 1px;
  font-weight: normal;
}

.trumbowyg-editor, .trumbowyg-textarea {
  background-color: white;
  color: #bbb;
  padding: 5px !important;
  padding-top: 0px !important;
}

.trumbowyg-editor p {
  margin: 5px !important;
}

.textareaDialog {
  font-family: DPTFont;
  font-size: 18px;
  width: 80%;
  height: 46px;
  margin: 0 auto;
  resize: none;
  border-color: #000;
  color: #bbb;
  border-style: solid;
  border-width: 1px;
  font-weight: normal;
  position: absolute;
  left: 0px;
  bottom: 10px;
}

.buttondialog {
  font-family: DPTFontDin;
  color: #fff;
  background-color: #505050;
  border: none;
  font-size: 16px;
  width: auto;
  height: 40px;
  margin: 5px auto;
  margin-left: 10px;
  -webkit-appearance: none;
  position: fixed;
  top: 40px;
  left: 50%;
  margin-left: 180px;
}

.buttondialogstandard {
  font-family: DPTFontDin;
  color: #fff;
  background-color: #505050;
  border: none;
  font-size: 16px;
  width: auto;
  height: 40px;
  margin: 5px auto;
  margin-left: 10px;
  -webkit-appearance: none;
  position: relative;
}

.buttondialogclose {
  font-family: DPTFontDin;
  color: #fff;
  background-color: #505050;
  transition: all 0.5s ease;
  transition: all 0.5s ease;
  background-color: transparent;
  border: none;
  font-size: 30px;
  width: 30px;
  height: 30px;
  margin: 5px auto;
  margin-left: 10px;
  -webkit-appearance: none;
  position: absolute;
  top: 0px;
  right: 7px;
  margin-left: 180px;
  border-radius: 50%;
  border-color: transparent;
  color: #fff;
  line-height: 0px;
  text-indent: -7px;
}

.buttondialogclose:hover {
  transform: scale(1.4);
  color: #bbb;
}

.buttonSend {
  font-family: DPTFontDin;
  color: #fff;
  background-color: #505050;
  border: none;
  font-size: 20px;
  width: 20%;
  height: 46px;
  -webkit-appearance: none;
  position: absolute;
  right: 0px;
  bottom: 10px;
}

.crisis {
  color: #fff;
  background-color: #505050;
}

.buttonCrisisSend {
  font-family: DPTFontDin;
  color: #fff;
  background-color: #505050;
  border: none;
  font-size: 16px;
  width: auto;
  height: 40px;
  margin: 5px auto;
  margin-left: 10px;
  -webkit-appearance: none;
  position: absolute;
  bottom: 10px;
  right: 20px;
}

.button {
  font-family: DPTFontDin;
  color: #fff;
  background-color: #505050;
  border: none;
  font-size: 16px;
  height: 40px;
  margin: 5px auto;
  margin-left: 10px;
  float: right;
  -webkit-appearance: none;
}

.buttonRed {
  font-family: DPTFontDin;
  color: #fff;
  background-color: #ff6666;
  border: none;
  font-size: 16px;
  height: 40px;
  margin: 5px auto;
  margin-left: 10px;
  float: right;
  -webkit-appearance: none;
}

.closeButton {
  font-family: DPTFontDin;
  font-size: 30px;
  transition: all 0.5s ease;
  transition: all 0.5s ease;
  position: absolute;
  background-color: transparent;
  width: 30px;
  height: 30px;
  top: 6px;
  right: 6px;
  border-radius: 50%;
  border-color: transparent;
  color: #fff;
  line-height: 0px;
  text-indent: -7px;
}

.closeButton:hover {
  transform: scale(1.4);
  color: #bbb;
}

.closeButtonTutorial {
  font-family: DPTFontDin;
  font-size: 30px;
  transition: all 0.5s ease;
  transition: all 0.5s ease;
  position: absolute;
  background-color: transparent;
  width: 30px;
  height: 30px;
  top: 6px;
  right: 6px;
  border-radius: 50%;
  border-color: transparent;
  color: #fff;
  line-height: 0px;
  text-indent: -7px;
}

.closeButtonTutorial:hover {
  transform: scale(1.4);
  color: #bbb;
}

.closeButtonTutorial2 {
  font-family: DPTFont;
  font-size: 16px;
  position: absolute;
  background-color: transparent;
  top: 264px;
  left: 6px;
  border-color: transparent;
  color: #fff;
  line-height: 0px;
}

.copyToClip {
  filter: invert(100%);
  width: 32px;
  height: auto;
  border-color: transparent;
  position: relative;
  top: 6px;
}

.helpframe {
  width: 720px;
}

.helpimage {
  border-style: solid;
  border-width: 1px;
  border-color: #fff;
  width: 100%;
  height: auto;
}

/*----- Menu -----*/
nav {
  margin: 0 auto;
  width: 100%;
  height: 1px;
  text-align: right;
  position: inherit;
  right: 0px;
}

nav ul {
  top: 40px;
  position: absolute;
  width: 100%;
  list-style-type: none;
  margin: 0;
  padding: 0;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  left: 280px;
}

nav ul li {
  list-style: none;
  margin: 0;
  display: block;
  text-align: left;
  padding: 0em 0em;
}

nav ul li button {
  position: relative;
  padding: 1em 0;
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
}

nav ul.menu {
  max-height: 20px;
}

nav a#nav-m,
nav a.close {
  display: none;
}

nav ul.menu li a:hover {
  border-bottom: 0;
}

/*Hamburger-Icon*/
nav a#nav-m {
  display: inline;
}

nav a#nav-m img,
nav a.close img {
  width: 40px;
  height: auto;
  position: absolute;
  right: 6px;
  top: 0px;
}

nav > .close,
nav a#nav-m:target {
  display: none;
  right: 0px;
  top: 0px;
}

nav a:target ~ ul,
nav a:target ~ .close {
  display: inline-block;
}

nav a:target ~ .close {
  position: absolute;
  margin-left: -40px;
}

nav a:target ~ ul {
  left: 0;
}

section ul li button {
  position: relative;
  padding: 0 0 0.5em 0;
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
}

section a#nav-m,
section a.close {
  display: none;
}

section ul li {
  margin: 0 0 0 0;
}

.listcount {
  color: #fff;
  position: absolute;
  border-radius: 50%;
  border-style: solid;
  border-width: 2px;
  text-align: center;
  width: 20px;
  bottom: 24px;
  right: 22px;
  height: 20px;
  font-size: 12px;
  line-height: 14px;
  background-color: #252525;
}

.slider {
  background: #fff;
  background: -webkit-linear-gradient(to left, #15b76a, #005b98, #ff6666);
  background: linear-gradient(to left, #15b76a, #005b98, #ff6666);
  border-color: #fff;
}
.slider::-webkit-slider-thumb {
  border: 1px solid #fff;
  background: #fff;
}
.slider::-moz-range-thumb {
  border: 1px solid #fff;
  background: #fff;
}

.smile-wrapper {
  width: 60px;
  height: 60px;
  background: #000000;
  position: absolute;
  top: 0px;
  left: 42%;
  border-radius: 50%;
  background: #505050;
}

.reason {
  position: absolute;
  bottom: 70px;
  width: 95%;
}

.eye {
  background: #000000;
  width: 10px;
  height: 10px;
  position: absolute;
  top: 15px;
  border-radius: 50%;
}
.eye-l {
  left: 12px;
}
.eye-r {
  right: 12px;
}

.smile {
  width: 30px;
  height: 12px;
  position: absolute;
  top: 35px;
  left: 15px;
  background: #000000;
  border: none;
  border-top-left-radius: 60px;
  border-top-right-radius: 60px;
  transform: rotateX(100deg);
}

.fb_gd_wrap .mask {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: transparent;
}

.fb_gd_wrap .content {
  background: #000000;
  z-index: 1000;
  box-shadow: 0px 0px 20px #00000099;
  position: absolute;
  left: 500px;
  width: 380px;
}

.fb_gd_wrap .header {
  height: 50px;
  line-height: 50px;
  background: #000000;
  position: relative;
}

.fb_gd_wrap .header .text {
  font-size: 1.3rem;
  margin-left: 1rem;
  color: #fff;
}

.fb_gd_wrap .header .btn {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 1.5rem;
  border: none;
  background: transparent;
  color: #fff;
}

.fb_gd_wrap .header .btn:hover {
  color: #505050;
}

.fb_gd_wrap .body {
  height: 190px;
  background: #000000;
}

.fb_gd_wrap .body .text {
  font-size: 0.9rem;
  color: #fff;
  overflow: hidden;
  margin: 0 20px;
}

.fb_gd_wrap .body .textList {
  padding: 0;
  margin: 0;
  width: 10000px;
  font-size: 0;
  margin-left: 0;
  transition: all 0.5s;
  color: #fff;
}

.fb_gd_wrap .body .textList p {
  color: #bbb;
  display: inline-block;
  font-weight: 500;
  font-size: 16px;
  width: 340px;
  padding: 0;
  vertical-align: top;
}

.fb_gd_wrap .footer {
  height: 50px;
  background: #252525;
  font-size: 0;
}

.fb_gd_wrap .footer .btn {
  font-family: DPTFont;
  display: inline-block;
  width: 25%;
  border: none;
  height: 100%;
  padding: 0;
  font-size: 16px;
  vertical-align: top;
  color: #fff;
  background: transparent;
}

.fb_gd_wrap .footer .btn:hover {
  color: #fff;
}

.fb_gd_wrap .footer .steps {
  display: inline-block;
  width: 48%;
  height: 100%;
  margin: 0;
  padding: 0;
  text-align: center;
}

.fb_gd_wrap .footer .dot {
  width: 10px;
  height: 10px;
  background: transparent;
  border: 1px solid #fff;
  margin: 20px 5px 12px 5px;
  display: inline-block;
  border-radius: 50%;
  position: relative;
}

.fb_gd_wrap .footer .dot::before {
  content: attr(data-step);
  display: block;
  color: #fff;
  position: absolute;
  top: -20px;
  left: 1.2px;
  font-size: 10px;
}

.fb_gd_wrap .footer .active {
  background: #000000;
  box-shadow: 0px 0px 20px #00000099;
}

.tutorialBorder {
  border-color: #fffb00;
  border-style: dashed;
  border-width: 3px;
  height: 96%;
  width: 96%;
  position: fixed;
  z-index: 50;
  top: 2%;
  left: 2%;
  display: "none";
  pointer-events: none;
}

/* pulsating circle*/
.animated-circle {
  position: absolute;
  margin-left: 30px;
  margin-top: 10px;
  z-index: 500;
}

.pulse-circle, .pulse-circle2 {
  border-radius: 50%;
  width: 2px;
  height: 2px;
  position: absolute;
  opacity: 0;
  transition: all 10s ease;
}

.pulse-circle {
  -webkit-animation: pulseline 2s ease-out infinite;
  -moz-animation: pulseline 2s ease-out infinite;
  animation: pulseline 2s ease-out infinite;
}

.pulse-circle2 {
  -webkit-animation: pulseline 1s ease-out infinite 0.5s;
  -moz-animation: pulseline 1s ease-out infinite 0.5s;
  -ms-animation: pulseline 1s ease-out infinite 0.5s;
  -o-animation: pulseline 1s ease-out infinite 0.5s;
  animation: pulseline 1s ease-out infinite 0.5s;
}

@-webkit-keyframes pulseline {
  0% {
    width: 2px;
    height: 2px;
    opacity: 1;
    left: 0;
    top: 0;
    box-shadow: 0 0 0 0px #ffc400;
  }
  100% {
    width: 80px;
    height: 80px;
    opacity: 0;
    left: -40px;
    top: -40px;
    box-shadow: 0 0 0 6px #ffc400;
  }
}
@-moz-keyframes pulseline {
  0% {
    width: 2px;
    height: 2px;
    opacity: 1;
    left: 0;
    top: 0;
    box-shadow: 0 0 0 0px #ffc400;
  }
  100% {
    width: 80px;
    height: 80px;
    opacity: 0;
    left: -40px;
    top: -40px;
    box-shadow: 0 0 0 6px #ffc400;
  }
}
@-ms-keyframes pulseline {
  0% {
    width: 2px;
    height: 2px;
    opacity: 1;
    left: 0;
    top: 0;
    box-shadow: 0 0 0 0px #ffc400;
  }
  100% {
    width: 80px;
    height: 80px;
    opacity: 0;
    left: -40px;
    top: -40px;
    box-shadow: 0 0 0 6px #ffc400;
  }
}
@-o-keyframes pulseline {
  0% {
    width: 2px;
    height: 2px;
    opacity: 1;
    left: 0;
    top: 0;
    box-shadow: 0 0 0 0px #ffc400;
  }
  100% {
    width: 80px;
    height: 80px;
    opacity: 0;
    left: -40px;
    top: -40px;
    box-shadow: 0 0 0 6px #ffc400;
  }
}
@keyframes pulseline {
  0% {
    width: 2px;
    height: 2px;
    opacity: 1;
    left: 0;
    top: 0;
    box-shadow: 0 0 0 0px #ffc400;
  }
  100% {
    width: 80px;
    height: 80px;
    opacity: 0;
    left: -40px;
    top: -40px;
    box-shadow: 0 0 0 6px #ffc400;
  }
}
.circle-center {
  position: absolute;
  left: -7px;
  top: -7px;
  border-radius: 50%;
  width: 15px;
  height: 15px;
  background: #ffc400;
}

.arrowcontainer {
  position: absolute;
  left: -10px;
  top: -120px;
}

.block1 {
  background-color: #ffc400;
  height: 60px;
  width: 20px;
}

.block2 {
  background-color: transparent;
  width: 0;
  height: 40px;
  border-top: 40px solid #ffc400;
  border-right: 30px solid transparent;
  border-left: 30px solid transparent;
  margin-left: -20px;
}

.arrow {
  animation: animate 1s infinite;
  animation-timing-function: linear;
}

@keyframes animate {
  0% {
    margin-top: 20px;
  }
  50% {
    margin-top: 0px;
  }
  100% {
    margin-top: 20px;
  }
}
/* style for mobile */
@media all and (max-width: 640px) {
  .menu-btn {
    width: 100%;
    margin-top: 0px;
    margin-left: 0px;
  }

  .menu-entry {
    width: 100%;
  }

  #overlay {
    height: 1px;
    width: 100%;
    display: block;
  }

  #form {
    width: 100%;
    left: 0;
    margin-left: 0px;
    position: absolute;
    padding: 20px;
    border-style: solid;
    border-width: 1px;
    z-index: 300;
    font-family: DPTFont;
    font-size: 18px;
  }

  #topic {
    width: 100%;
    height: 100%;
    top: 10%;
    left: 0;
    margin: 0px;
  }

  .dialogleft,
.dialogcenter,
.dialogright {
    width: 100%;
  }

  #dialogForm {
    width: 100%;
    left: 0px;
    margin-left: 0px;
  }

  div.status {
    width: 100%;
    left: 0px;
    margin-left: 0px;
  }

  h3 {
    font-size: 16px;
  }

  #dialogList {
    width: 100%;
    top: 40px;
    left: 0px;
    bottom: 48px;
    margin-left: 0px;
  }

  #misc2 {
    left: auto;
    width: 100%;
    margin-left: auto;
  }

  textarea {
    width: 100%;
  }

  .textareaDialog {
    width: 70%;
    margin-left: 5%;
  }

  .buttonSend {
    width: 20%;
    margin-right: 5%;
  }

  .buttondialog {
    left: auto;
    right: 10px;
  }

  .buttondialogclose {
    left: 50%;
    margin-left: 40%;
    top: 40px;
    position: fixed;
    z-index: 500;
  }

  .buttondialog {
    left: auto;
    right: 10px;
  }

  div#c3 {
    width: 100%;
    left: 0px;
    margin-left: 0px;
  }

  div#crisis {
    width: 100%;
  }

  .helpframe {
    width: 100%;
    height: 400px;
    margin: 0px;
    padding: 0px;
  }

  .helpimage {
    height: auto;
    margin: 0px;
    padding: 0px;
    position: absolute;
    left: 0px;
    width: 100%;
    top: 120px;
  }

  /* Normalize the lists */
  .menu,
.sub-menu {
    margin: 0;
    padding: 0;
  }
  .menu li,
.sub-menu li {
    margin: 0;
  }

  /*Format Mobile Menu*/
  nav ul {
    top: 40px;
    position: absolute;
    width: 100%;
    left: 100%;
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  nav ul li {
    display: block;
    text-align: left;
    padding: 0 0;
  }

  nav ul li button {
    padding: 1em 0;
  }

  nav ul.menu li a:hover {
    border-bottom: 0;
  }

  /*Hamburger-Icon*/
  nav a#nav-m {
    display: inline;
  }

  nav a#nav-m img,
nav a.close img {
    width: 40px;
    height: auto;
    position: absolute;
    right: 0px;
    top: 0px;
  }

  nav > .close,
nav a#nav-m:target {
    display: none;
    right: 0px;
    top: 0px;
  }

  nav a:target ~ ul,
nav a:target ~ .close {
    display: inline-block;
  }

  nav a:target ~ .close {
    position: absolute;
    margin-left: -40px;
  }

  nav a:target ~ ul {
    left: 0;
  }

  /*Hamburger-Icon*/
  section a#section-m {
    display: inline;
  }

  section a#section-m img,
section a.close img {
    width: 40px;
    height: auto;
    position: absolute;
    right: 0px;
    top: 0px;
  }

  section > .close,
section a#section-m:target {
    display: none;
    right: 0px;
    top: 0px;
  }

  section a:target ~ ul,
section a:target ~ .close {
    display: inline-block;
  }

  section a:target ~ .close {
    position: absolute;
    margin-left: -40px;
  }

  section a:target ~ ul {
    left: 0;
  }
}

/*# sourceMappingURL=dpt_mc.css.map */
