.button {
  transition: opacity .2s cubic-bezier(.4,0,.6,1);
  -webkit-transition: opacity .2s cubic-bezier(.4,0,.6,1);
  &:hover {
    opacity: 0.9;
  }
  &.block {
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}