.slider {
  border-radius: 1px;
  cursor: pointer;
  appearance: none;
  -webkit-appearance: none;
  margin: 0;
  height: 10px;
  border-radius: 1px;
  &:focus {
    outline: none;
  }
  &::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    cursor: pointer;
  }
  &::-moz-range-thumb {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    cursor: pointer;
  }
}