@import './layout';

@font-face {
  font-family: "DPTFont";
  src: url("font.ttf") format("truetype");
}

@font-face {
  font-family: "DPTFontDin";
  src: url("din.ttf") format("truetype");
}

html,
body {
  background-color: #005b98;
  font-family: "DPTFontDin";
  font-size: 16px;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  color: #b8eaff;
}

#wrapper {
/*
  display: flex;
  flex-direction: column;
*/
  max-width: 700px;
  position: relative;
  top: 40px;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  overflow: hidden;
  min-height: 200px;
  left: 50%;
  margin-left: -350px;
}

header {
  background-color: #28a9e1;
  padding: 20px;
  text-align: center;
  vertical-align: middle;
  color: #e3f3fa;
}

#mehrspaltig {
  flex: 1;
  display: flex;
  flex-direction: column;
  
  .links {
    flex: 1;
    padding: 20px;
    vertical-align: middle;
    background: linear-gradient(to bottom, #03406b, #001625);
    color: #e3f3fa;

    .phrase-wrapper {
      @extend .row, .center;
      .phrase {
        @extend .col;
        color: #66b4e7;
        font-size: 18px;
        text-align: center;
        border-style: solid;
        border-width: 1px;
        border-color: #f0f3f5;
        padding: 16px 12px;
      }
    }
  }
  
  .rechts {
    flex: 1;
    padding: 20px;
    vertical-align: middle;
    background: linear-gradient(to bottom, #ececec, #bfcbd1);
    color: #285879;
  }
}



footer {
  background-color: #005b98;
  vertical-align: middle;
  color: #99bed6;
  padding: 20px;
  font-size: 14px;
}

.logo {
  text-align: center;
  width: 200px;
  height: auto;
}

h1 {
  font-family: "DPTFont";
  font-size: 32px;
}

h2 {
  font-family: "DPTFont";
  font-size: 24px;
  text-align: center;
}

a {
  color: #005b98;
  text-decoration: none;
}

.label {
  text-align: left;
}

input[type="text"] {
  font-family: "DPTFont";
  background: #f0f3f5;
  border-color: #005b98;
  border-style: solid;
  border-width: 2px;
  color: #005b98;
  padding: 4px;
  width: 100%;
  font-size: 18;
}

input {
  font-family: DPTFontDin;
  color: #f0f3f5;
  background-color: #005b98;
  border: none;
  font-size: 16px;
  height: 40px;
  margin: 5px auto;
  float: right;
  -webkit-appearance: none;
}

.button {
  font-family: DPTFontDin;
  color: #f0f3f5;
  background-color: #005b98;
  border: none;
  font-size: 16px;
  height: 40px;
  margin: 5px auto;
  float: right;
  -webkit-appearance: none;
  padding: 5px;
  line-height: 40px;
}

.start {
  font-family: DPTFontDin;
  color: #f0f3f5;
  background-color: #005b98;
  border: none;
  font-size: 24px;
  padding: 12px 16px;
  -webkit-appearance: none;
  text-align: center;
}

.copytoclip {
  width: 30px;
  height: auto;
  float: left;
  position: relative;
  top: -10px;
  left: -4px;
  filter: invert(100%);
  background-color: transparent;
}

/* button menu style for mobile */

@media all and (max-width: 640px) {
  h3 {
    font-size: 16px;
  }

  #wrapper {
    width: 100%;
    left: 0px;
    margin-left: 0px;
    top: 0px;
  }

  #mehrspaltig {
    flex: 1;
    display: block;
    flex-direction: column;
  }
}
