.row {
  display: flex;
  flex-wrap: wrap;
  margin: 12px -12px;

  &.center {
    justify-content: center;
    margin: 0;
  }
}
.col {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding: 0 12px;
  
  &.col-1 {
    flex: 0 0 8.333333%;
  }
}

.text-center {
  text-align: center;
}

.justify-center {
  justify-content: center;
}

.opinion-form-layout {
    height: 60vh;
    overflow: auto;

}
