@font-face {
    font-family: "DPTFont";
    src: url("/font.ttf") format("truetype");
}

@font-face {
    font-family: "DPTFontDin";
    src: url("/din.ttf") format("truetype");
}

html,
body {
    background-image: linear-gradient(#28A9E1, #005B98);
    font-family: "DPTFont";
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

h3 {
    font-family: "DPTFontDin";
    font-size: 20px;
    color: #B8EAFF;
}

i {
    font-family: "DPTFontDin";
    font-style: inherit;
    color: #F0F3F5;
    font-weight: 700;
    font-size: 18px;
}

a {
    color: #F0F3F5;
    text-decoration: none;
}

input[type=text] {
    background: #F0F3F5;
    border-color: #005B98;
    color: #005B98;
    padding: 4px;
}

.text {
    font-family: "DPTFont";
    text-align: center;
    color: #F0F3F5;
    width: 50%;
}


/* button menu style for mobile */

@media all and (max-width: 500px) {
    h3 {
        font-size: 16px;
    }
}