@font-face {
	font-family: "DPTFont";
	src: url("/font.ttf") format("truetype");
}
@font-face {
	font-family: "DPTFontDin";
	src: url("/din.ttf") format("truetype");
}
@font-face {
	font-family: "bitter";
	src: url("/bitter.ttf") format("truetype");
}

html, body {
	font-family: "DPTFont";
	overflow: hidden;
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}

#renderCanvas {
	width: 100%;
	height: 100%;
	touch-action: none;
	position: absolute;
	z-index: 1;
}

#main {
	height: 100%;
	width: 100%;  
}

i { 
	font-family: "DPTFontDin";
	font-style: inherit;
	color: #F0F3F5;
	font-weight: 700;
}

h3 {
	font-family: "DPTFontDin";
	color: #F0F3F5;
	border-color: transparent;
	border-bottom: 1px solid #F0F3F5;
	padding-bottom: 20px;
}

div#dialogMenu > i {
	color: 00ccff !important;
	
}

i#props {
	line-height: 0px;
}
 
a { color: #fd0;
	text-decoration: none;
}

label#negative {
	color: #f00;
}

label#neutral {
	color: #66D1FF;
}

label#positive {
	color: #0f0
}

input[type=text] {
	background: #0a120a;
	border-color: #005B98;
	color: #005B98;
	font-weight: bold;
	padding: 4px;
}

.table { 
	min-height: 100%;
	height: 100%;
	min-width: 100%;
}


#misc {
	position: absolute;
	z-index: 1;
	background: red;
	margin: 0 auto;
}

p.left {
	margin: 5px;
	margin-bottom: 15px;
	margin-right: 10%;
	padding: 5px;
	text-align: justify;
	text-justify: inter-word;
	background-color:  #66D1FF;
	border-color: #28A9E1;
	border-style: solid;
	border-width: 1px;
	position: relative;
	width: 300px;
	color: #F0F3F5;
	font-size: 14px;
}

p.left:before {
	content: ' ';
	position: absolute;
	width: 0px;
	height: 0px;
	left: 0px;
	bottom: -10px;
	border: 5px solid;
	border-color: #66D1FF transparent transparent #66D1FF;
}

p.right {
	margin: 5px;
	margin-bottom: 15px;
	margin-left: 10%;
	padding: 5px;
	text-align: justify-right;
	text-justify: inter-word;
	background-color: #005B98;
	border-color: #28A9E1;
	border-style: solid;
	border-width: 1px;
	position: relative;
	width: 300px;
	color: #F0F3F5;
	font-size: 14px;
}

p.right:before {
	content: ' ';
	position: absolute;
	width: 0px;
	height: 0px;
	right: 0px;
	bottom: -10px;
	border: 5px solid;
	border-left: 5px solid transparent;
	border-right: 5px solid #005B98;
	border-top: 5px solid #005B98;
	border-bottom: 5px solid transparent;
}

div.top {
	height: 100%;
	top: -20px;
	position: relative;
}

div.middle {
	height: 100%;
	position: relative;
	top: -10px;
}

div.bottom {
	height: 100%;
	position: center;
	bottom: 0px;
}

div.dialogInfo {
	visibility: hidden;
	line-height: 0px;
	font-size: 0px;
}

div.col {
	float: left;
	padding-left: 10px;
	height:100%;
	width: 30%;
	max-width:30%;
	overflow-y: auto;
}

div.row:after {
	content: "";
	display: table;
	clear: both;
}

div.hide {
	visibility: hidden;
	line-height: 0%;
}

div.status {
	bottom: 10px;
	min-width: 98%;
	position: relative;
	left: -15px;
	bottom: 0px;
}

div#c1 {
	font-family: "DPTFont";
	text-align: justify;
	text-justify: inter-word;
	width: 19%;
	float: left;
	position: absolute;
	font-size: 14px;
}

div#c2 {
	font-family: "DPTFont";
	overflow-y: auto;
	float: left;
	width: 53%;
	height: 100%;
	margin-left: 20%;
	max-height: 80%;
	padding-left: 10px;
	padding-right: 30px;
	overflow-y: auto;
}

div#c3 {
	font-family: "DPTFont";
	float: left;
	position: absolute;
	margin-left: 75%;
	text-align:left;
	text-justify:inter-word;
	font-size: 14px;
}

div#crisis {
	font-family: "DPTFont";
	position: absolute;
	padding: 10px;
	left: 37%;
	border: #fff;
	border-style: solid;
	border-width: 5px;
	background: #0a120a
}

div#dialogFrame {
	font-family: "DPTFont";
	border-width: 0px;
	background-color: rgba(10, 24, 40, 0.0);
	margin-left: 0%;
	margin-right: 0%;
	min-height: 340px;
	min-width: 80%;
	top: 0px;
	left: 0px
}