body {
	background: #0a120a;
	color: #fee;font-family: sans;
}

#main {
	height: 100%;
	width: 100%;  
}

i { 
	font-style: italic;
	color: #4a624a;
 }

 i#props {
	line-height: 0px;
 }

 a { color: #fd0;
	text-decoration: none;
}

label#negative {
	color: #f00;
}

label#neutral {
	color: #77f;
}

label#positive {
	color: #0f0
}

input[type=text] {
	background: #0a120a;
	color: #fd0;
	font-weight: bold;
	padding: 4px;
}

.table { 
	min-height: 100%;
	height: 100%;
	min-width: 100%;
}

p.left {
	margin: 1px;
	margin-right: 20%;
	padding: 5px;
	text-align: justify;
	text-justify: inter-word;
	background-color: rgba(0,127,63,.5);
}

p.right {
	margin: 1px;
	margin-left: 20%;
	padding: 5px;
	/* direction:rtl;
	text-align:justify;*/
	text-align: justify-right;
	text-justify: inter-word;
	background-color: rgba(0,63,127,.5);
}

div.top {
	height: 100%;
}

div.middle {
	height: 100%;
}

div.bottom {
	height: 100%;
	position: center;
	bottom: 0px;
}

div.dialogInfo {
	visibility: hidden;
	line-height: 0px;
	font-size: 0px;
}

div.col {
	float: left;
	padding-left: 20px;
	height:100%;
	width: 30%;
	max-width:30%;
	overflow-y: auto;
}

div.row:after {
	content: "";
	display: table;
	clear: both;
}

div.hide {
	visibility: hidden;
	line-height: 0%;
}

div.status {
	bottom: 10px;
	position: absolute;
	min-width: 98%
}


div#c1 {
	text-align: justify;
	text-justify: inter-word;
	width: 19%;
	float: left;
	position: absolute;
}

div#c2 {
	position: absolute;
	overflow-y: auto;
	float: left;
	width: 53%;
	height: 100%;
	margin-left: 20%;
	max-height: 80%;
	padding-left: 30px;
	padding-right: 30px;
	overflow-y: auto;
}

div#c3 {
	width: 19%;
	float: left;
	position: absolute;
	margin-left: 80%;
	text-align:justify;
	text-justify:inter-word;
}

div#crisis {
	position: absolute;
	 padding: 10px;
	 left: 37%;
	 border: #fff;
	 border-style: solid;
	 border-width: 5px;
	 background: #0a120a
}

div#dialogFrame {
	position: absolute;
	padding: 10px;
	border: #666;
	border-style: solid;
	border-width: 5px;
	background: #0a120a;
	margin-left: 10%;
	margin-right: 10%;
	min-height: 80%;
	min-width: 80%
}
