@font-face {
    font-family: "DPTFont";
    src: url("/font.ttf") format("truetype");
}

html,
body {
    font-family: "DPTFont";
    overflow: hidden;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

#overlay {
    /* margin:5%; */
    position: fixed;
    display: grid;
    background-color: rgba(0, 0, 0, 0);
    border: 0px;
    z-index: 100;
    /* grid-auto-flow: column; */
    grid-template-columns: 210px;
    /* pointer-events: none; */
}

.menu-btn {
    padding: 10px;
    padding-left: 20px;
    display: none;
    font-family: "DPTFont";
    font-size: 1em;
    width: 280px;
    height: 48px;
    border: 1px solid #F0F3F5;
    background-color: #002C4B99;
    color: #F0F3F5;
    justify-content: center;
    text-align: center;
    background-size: cover;
}

.btn-icon {
    height: 35px;
    position: relative;
    margin-left: -10px;
    margin-right: 20px;
    float: left;
}