@font-face {
    font-family: "DPTFont";
    src: url("/font.ttf") format("truetype");
}

html,
body {
    font-family: "DPTFont";
    overflow: hidden;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}
