{
  "openapi" : "3.0.0",
  "info" : {
    "title" : "DPT",
    "contact" : {
      "name" : "Oz Fraier",
      "url" : "http://www.soficoop.com",
      "email" : "oz@soficoop.com"
    },
    "license" : {
      "name" : "MIT"
    },
    "version" : "1.0.0"
  },
  "servers" : [ {
    "url" : "http://dpt.soficoop.com/v1"
  } ],
  "tags" : [ {
    "name" : "peace"
  } ],
  "paths" : {
    "/dialogs" : {
      "get" : {
        "tags" : [ "dialogs" ],
        "summary" : "List all dialogs",
        "operationId" : "listDialogs",
        "parameters" : [ {
          "name" : "limit",
          "in" : "query",
          "description" : "How many items to return at one time (max 100)",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "An paged array of dialogs",
            "headers" : {
              "x-next" : {
                "description" : "A link to the next page of responses",
                "style" : "simple",
                "explode" : false,
                "schema" : {
                  "type" : "string"
                }
              }
            },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Dialogs"
                }
              }
            }
          },
          "default" : {
            "description" : "unexpected error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "x-swagger-router-controller" : "Dialogs"
      },
      "post" : {
        "tags" : [ "dialogs" ],
        "summary" : "Create a dialog",
        "operationId" : "createDialogs",
        "responses" : {
          "201" : {
            "description" : "Null response"
          },
          "default" : {
            "description" : "unexpected error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "x-swagger-router-controller" : "Dialogs"
      }
    },
    "/dialogs/{dialogId}" : {
      "get" : {
        "tags" : [ "dialogs" ],
        "summary" : "Info for a specific dialog",
        "operationId" : "showDialogById",
        "parameters" : [ {
          "name" : "dialogId",
          "in" : "path",
          "description" : "The id of the dialog to retrieve",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Expected response to a valid request",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Dialogs"
                }
              }
            }
          },
          "default" : {
            "description" : "unexpected error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "x-swagger-router-controller" : "Dialogs"
      }
    },
    "/dialogs/{dialogId}/messages" : {
      "get" : {
        "tags" : [ "messages" ],
        "summary" : "List all messages",
        "operationId" : "listMessages",
        "parameters" : [ {
          "name" : "limit",
          "in" : "query",
          "description" : "How many items to return at one time (max 100)",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        }, {
          "name" : "dialogId",
          "in" : "path",
          "description" : "The id of the dialog to retrieve",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "An paged array of messages",
            "headers" : {
              "x-next" : {
                "description" : "A link to the next page of responses",
                "style" : "simple",
                "explode" : false,
                "schema" : {
                  "type" : "string"
                }
              }
            },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Messages"
                }
              }
            }
          },
          "default" : {
            "description" : "unexpected error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "x-swagger-router-controller" : "Messages"
      },
      "post" : {
        "tags" : [ "dialogs", "messages" ],
        "summary" : "Add a chat message",
        "operationId" : "createMessage",
        "parameters" : [ {
          "name" : "dialogId",
          "in" : "path",
          "description" : "The id of the dialog to retrieve",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "content",
          "in" : "header",
          "description" : "The content of the message to create",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "senderID",
          "in" : "header",
          "description" : "The ID of the message sender",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "recipientID",
          "in" : "header",
          "description" : "The ID of the message recipient",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "201" : {
            "description" : "Null response"
          },
          "default" : {
            "description" : "unexpected error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "x-swagger-router-controller" : "Dialogs"
      }
    },
    "/dialogs/{dialogId}/crisises" : {
      "post" : {
        "tags" : [ "dialogs", "crisis" ],
        "summary" : "Start crisis mode",
        "operationId" : "addCrisis",
        "parameters" : [ {
          "name" : "dialogId",
          "in" : "path",
          "description" : "The id of the dialog to retrieve",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "reason",
          "in" : "header",
          "description" : "The content of the message to create",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "starterID",
          "in" : "header",
          "description" : "The ID of the message sender",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "recipientID",
          "in" : "header",
          "description" : "The ID of the message recipient",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "201" : {
            "description" : "Null response"
          },
          "default" : {
            "description" : "unexpected error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "x-swagger-router-controller" : "Dialogs"
      }
    },
    "/dialogs/{dialogId}/crisises/{crisisId}" : {
      "post" : {
        "tags" : [ "dialogs", "crisis" ],
        "summary" : "Start crisis mode",
        "operationId" : "setCrisisModeStatus",
        "parameters" : [ {
          "name" : "dialogId",
          "in" : "path",
          "description" : "The id of the dialog to retrieve",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "crisisId",
          "in" : "path",
          "description" : "The id of the crisis to retrieve",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "reason",
          "in" : "header",
          "description" : "The content of the message to create",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "starterID",
          "in" : "header",
          "description" : "The ID of the message sender",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "recipientID",
          "in" : "header",
          "description" : "The ID of the message recipient",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "201" : {
            "description" : "Null response"
          },
          "default" : {
            "description" : "unexpected error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "x-swagger-router-controller" : "Dialogs"
      }
    },
    "/statements/{statementId}/requests" : {
      "post" : {
        "tags" : [ "statements", "request" ],
        "summary" : "Request for statement",
        "operationId" : "requestDialog",
        "parameters" : [ {
          "name" : "statementId",
          "in" : "path",
          "description" : "The id of the statement to retrieve",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "invitation",
          "in" : "header",
          "description" : "The content of the invitation",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "senderID",
          "in" : "header",
          "description" : "The ID of the message sender",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "201" : {
            "description" : "Null response"
          },
          "default" : {
            "description" : "unexpected error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "x-swagger-router-controller" : "Statements"
      }
    },
    "/statements/{statementId}/requestes/{requestId}" : {
      "post" : {
        "tags" : [ "statements", "request" ],
        "summary" : "Start request mode",
        "operationId" : "setRequestStatus",
        "parameters" : [ {
          "name" : "statementId",
          "in" : "path",
          "description" : "The id of the statement to retrieve",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "requestId",
          "in" : "path",
          "description" : "The id of the request to retrieve",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "reason",
          "in" : "header",
          "description" : "The content of the message to create",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "starterID",
          "in" : "header",
          "description" : "The ID of the message sender",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "recipientID",
          "in" : "header",
          "description" : "The ID of the message recipient",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "201" : {
            "description" : "Null response"
          },
          "default" : {
            "description" : "unexpected error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "x-swagger-router-controller" : "Statements"
      }
    },
    "/sign-up/" : {
      "post" : {
        "tags" : [ "login" ],
        "summary" : "Sign Up with a user",
        "operationId" : "signUp",
        "requestBody" : {
          "description" : "Sign up form",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/SignUp"
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "Sign up sucessfull"
          },
          "400" : {
            "description" : "Bad request"
          },
          "401" : {
            "description" : "Unauthorized"
          }
        },
        "x-swagger-router-controller" : "Login"
      }
    }
  },
  "components" : {
    "schemas" : {
      "Dialog" : {
        "required" : [ "id", "name" ],
        "properties" : {
          "id" : {
            "type" : "integer",
            "format" : "int64"
          },
          "name" : {
            "type" : "string"
          },
          "tag" : {
            "type" : "string"
          }
        },
        "example" : {
          "name" : "name",
          "id" : 0,
          "tag" : "tag"
        }
      },
      "Dialogs" : {
        "type" : "array",
        "items" : {
          "$ref" : "#/components/schemas/Dialog"
        }
      },
      "Message" : {
        "required" : [ "id", "name" ],
        "properties" : {
          "id" : {
            "type" : "integer",
            "format" : "int64"
          },
          "name" : {
            "type" : "string"
          },
          "tag" : {
            "type" : "string"
          }
        },
        "example" : {
          "name" : "name",
          "id" : 0,
          "tag" : "tag"
        }
      },
      "Messages" : {
        "type" : "array",
        "items" : {
          "$ref" : "#/components/schemas/Message"
        }
      },
      "Error" : {
        "required" : [ "code", "message" ],
        "properties" : {
          "code" : {
            "type" : "integer",
            "format" : "int32"
          },
          "message" : {
            "type" : "string"
          }
        }
      },
      "Proof" : {
        "required" : [ "mac", "nonce" ],
        "properties" : {
          "nonce" : {
            "pattern" : "^[a-zA-Z0-9]{32}$",
            "type" : "string"
          },
          "mac" : {
            "pattern" : "^[a-zA-Z0-9]{64}$",
            "type" : "string"
          }
        },
        "example" : {
          "nonce" : "nonce",
          "mac" : "mac"
        }
      },
      "SignUp" : {
        "required" : [ "message", "proof" ],
        "properties" : {
          "message" : {
            "properties" : {
              "id" : {
                "pattern" : "^[a-zA-Z0-9]{64}$",
                "type" : "string"
              }
            }
          },
          "proof" : {
            "$ref" : "#/components/schemas/Proof"
          }
        },
        "example" : {
          "proof" : {
            "nonce" : "nonce",
            "mac" : "mac"
          },
          "message" : "{}"
        }
      }
    }
  }
}