openapi: 3.0.0
info:
  title: DPT
  license:
    name: MIT
  version: 1.0.0
servers:
- url: http://dpt.soficoop.com/v1
paths:
  /dialogs:
    get:
      tags:
      - dialogs
      summary: List all dialogs
      operationId: listDialogs
      parameters:
      - name: limit
        in: query
        description: How many items to return at one time (max 100)
        required: false
        style: form
        explode: true
        schema:
          type: integer
          format: int32
      responses:
        200:
          description: An paged array of dialogs
          headers:
            x-next:
              description: A link to the next page of responses
              style: simple
              explode: false
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Dialogs'
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      x-swagger-router-controller: Dialogs
    post:
      tags:
      - dialogs
      summary: Create a dialog
      operationId: createDialogs
      responses:
        201:
          description: Null response
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      x-swagger-router-controller: Dialogs
  /dialogs/{dialogId}:
    get:
      tags:
      - dialogs
      summary: Info for a specific dialog
      operationId: showDialogById
      parameters:
      - name: dialogId
        in: path
        description: The id of the dialog to retrieve
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        200:
          description: Expected response to a valid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Dialogs'
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      x-swagger-router-controller: Dialogs
  /sign-up/:
    post:
      tags:
      - login
      summary: Sign Up with a user
      operationId: signUp
      requestBody:
        description: Sign up form
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SignUp'
      responses:
        200:
          description: Sign up sucessfull
        400:
          description: Bad request
        401:
          description: Unauthorized
      x-swagger-router-controller: Login
components:
  schemas:
    Dialog:
      required:
      - id
      - name
      properties:
        id:
          type: integer
          format: int64
        name:
          type: string
        tag:
          type: string
    Dialogs:
      type: array
      items:
        $ref: '#/components/schemas/Dialog'
    Error:
      required:
      - code
      - message
      properties:
        code:
          type: integer
          format: int32
        message:
          type: string
    Proof:
      required:
      - mac
      - nonce
      properties:
        nonce:
          pattern: ^[a-zA-Z0-9]{32}$
          type: string
        mac:
          pattern: ^[a-zA-Z0-9]{64}$
          type: string
    SignUp:
      required:
      - message
      - proof
      properties:
        message:
          properties:
            id:
              pattern: ^[a-zA-Z0-9]{64}$
              type: string
        proof:
          $ref: '#/components/schemas/Proof'
